* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
}
.container{
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   border: 1px solid #aaa;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
}
.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 420px;
     
}
h1{
    font-size: 25px;
    color: #333;
    text-align: center;
    margin: 10px auto;
}
input[type="text"], input[type="password"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 3px;
    margin-bottom: 15px;

}


/*input{
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #aaa;
    margin-top: 10px;
}
input:hover{
    background-color: rgb(191, 210, 226);
}*/
.destaque{
    font-size: 25px;
}
label#negrito{
    font-weight: bold;

}