* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.caixa{
    border: 1px solid black;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
    margin: 5px;
   /* display: flex;
    justify-content: center;
    align-items: center;*/
}
input{
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #aaa;
    margin-top: 10px;
}
input:hover{
    background-color: rgb(191, 210, 226);
}
.destaque{
    font-size: 25px;
}
label#negrito{
    font-weight: bold;

}